@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #00c2a8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-outfit);
  /* --font-sans: var(--font-geist-sans);  */
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

@keyframes infinite-carousel {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);  
  }
  
}

.animate-infinite-carousel{
  animation: infinite-carousel 10s linear infinite;
}